version: 2.1
jobs:
  build:
    working_directory: ~/fishery
    docker:
      - image: circleci/node:12.22.6
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Check code formatting
          command: yarn pretty:check
      - run:
          name: Check types
          command: yarn test:types
      - run:
          name: Run tests
          command: yarn test
